<button (click)="toggleDetails($event)">{{getButtonInnerHtml()}}</button>

<div *ngIf="showDetails">
    <p>these are the details</p>
</div>

<div>
    <div
     *ngFor="let click of clicksArray; let i = index"
     [ngStyle]="{backgroundColor: i >= 5 ? 'cornflowerblue' : 'transparent'}"
     [ngClass]="{'white-text': i >= 5}"
     >The button was clicked at: {{click}}</div>
</div>

<p [ngStyle]="{backgroundColor: getColor()}" [ngClass]="{online: serverStatus === 'online'}">
    Server with id {{serverId}} is {{serverStatus}}
</p>

<button id="observable-btn">click me</button>
